.border {
    border: 1px solid black;
}

.bordercolor {
    border: 1px solid black;
    background-color: #f1f1f1;
}

.cardsize {
    width: 180px;
}

#force {
    display: inline-block;
}

.borderbig {
    border: 1px solid rgb(182, 180, 180) !important;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgb(172, 171, 171);
}

.margin {
    margin: 10px;
}

.description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .descriptiontwo {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }